/* Nav */
a {
  text-decoration: none;
}
.navLinks {
  font-size: 20px;
  margin-bottom: 10px;
  list-style: none;
  color: #18ab29;
}

.navLinks::before {
  content: '✔';
}

.homeLinks::before {
  content: '🏡';
}

/* Task #3 */
.js-img {
  width: 600px;
  height: 400px;
}

.js-item {
  list-style: none;
}

#gallery {
  display: flex;
  justify-content: space-around;
}

/* Task #4 */
.counterButton {
  background-color: #44c767;
  border-radius: 28px;
  border: 1px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}
.counterButton:hover {
  background-color: #5cbf2a;
}
.counterButton:active {
  position: relative;
  top: 1px;
}
#counter {
  display: flex;
  justify-content: center;
  align-items: center;
}
#value {
  font-size: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

/* Task #6 */
#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
